<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="${specialfolder:folder=ApplicationData}\Hasin_Taaghche\NewsletterService\InternalLog\newsletterService.log">

  <variable name="basedir" value="${specialfolder:folder=ApplicationData}\Hasin_Taaghche\NewsletterService\InternalLog\NewsletterService" />
  <variable name="naming" value="${date:format=yyyy-MM-dd}.log" />

  <variable name="logFatalPath"
            value="${basedir}\Fatal\${naming}" />
  <variable name="logSearchPath"
            value="${basedir}\${naming}" />

  <variable name="fmt"
            value="${date:format=yyyy-MM-dd HH\:mm\:ss} ${level:lowercase=true} st ${logger:shortName=true}[${correlation-id}] |${client-name}|| ${replace-newlines:${message}} ${onexception:inner=${replace-newlines:${exception:format=tostring}}}" />

  <targets async="true">
    <default-target-parameters xsi:type="File" encoding="utf-8" layout="${fmt}" />
    <target name="asyncLogFatal" fileName="${logFatalPath}" xsi:type="File" />
    <target name="asyncLogSearch" fileName="${logSearchPath}" xsi:type="File" />
    <target name="consoleLogger" xsi:type="ColoredConsole" layout="${date:format=yyyy-MM-dd HH\:mm\:ss} ${level:lowercase=true} st [${correlation-id}] |${client-name}|| ${message} ${onexception:inner=${replace-newlines:${exception:format=ToString}}}"
          useDefaultRowHighlightingRules="true" errorStream="true">
      <highlight-row condition="level == LogLevel.Trace" foregroundColor="Gray" backgroundColor="Black"/>
      <highlight-row condition="level == LogLevel.Debug" foregroundColor="White" backgroundColor="Black"/>
      <highlight-row condition="level == LogLevel.Info" foregroundColor="Green" backgroundColor="Black"/>
      <highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" backgroundColor="Black"/>
      <highlight-row condition="level == LogLevel.Error" foregroundColor="Magenta" backgroundColor="Black"/>
      <highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" backgroundColor="White" />
    </target>
    <target name="default" xsi:type="File" layout="${longdate} - ${level:uppercase=true}: ${message}${onexception:${newline}EXCEPTION: ${exception:format=ToString}}"
            fileName="${specialfolder:ApplicationData}${appName}Debug.log" keepFileOpen="false" archiveFileName="${specialfolder:ApplicationData}${appName}Debug_${shortdate}.{##}.log" archiveNumbering="Sequence" archiveEvery="Day" maxArchiveFiles="30" />
    <target name="eventlog" xsi:type="EventLog" source="${appName}"
            layout="${message}${newline}${exception:format=ToString}"/>
  </targets>

  <rules>
    <logger name="*" minlevel="Fatal" writeTo="asyncLogFatal" />
    <logger name="*" minlevel="Trace" writeTo="asyncLogSearch" />
    <logger name="*" minlevel="Trace" writeTo="consoleLogger" />
    <logger name="*" minlevel="Info" writeTo="default"  />
    <logger name="*" minlevel="Error" writeTo="eventlog"  />
  </rules>
</nlog>